<config>
    <area>
        <area1>
            <soil_type>clay</soil_type>
        </area1>
        <area2>
            <soil_type>sandy</soil_type>
        </area2>
        <area3>
            <soil_type>peaty</soil_type>
        </area3>
    </area>
    <area1>
        <device1-1>
            <sensor>temperature</sensor>
        </device1-1>
        <device1-2>
            <sensor>humidity</sensor>
        </device1-2>
        <device1-3>
            <sensor>light</sensor>
            <actuator>light</actuator>
        </device1-3>
        <device1-4>
            <sensor>gas</sensor>
            <actuator>oxygen</actuator>
        </device1-4>
        <device1-5>
            <sensor>soil</sensor>
            <actuator>irrigator</actuator>
        </device1-5>
    </area1>
    <area2>
        <device2-1>
            <sensor>temperature</sensor>
        </device2-1>
        <device2-2>
            <sensor>light</sensor>
            <actuator>light</actuator>
        </device2-2>
        <device2-3>
            <sensor>soil</sensor>
            <actuator>irrigator</actuator>
        </device2-3>
        <device2-4>
            <sensor>humidity</sensor>
        </device2-4>
    </area2>
    <area3>
        <device3-1>
            <sensor>humidity</sensor>
        </device3-1>
        <device3-2>
            <sensor>gas</sensor>
            <actuator>oxygen</actuator>
        </device3-2>
        <device3-3>
            <sensor>soil</sensor>
            <actuator>irrigator</actuator>
        </device3-3>
        <device3-4>
            <sensor>temperature</sensor>
        </device3-4>
    </area3>
</config>