<config>
    <url_weather>http://43.131.48.203:5000</url_weather>
    <url_soil>http://3.79.189.115:5001</url_soil>
    <data_keys>
        <temperature>weather/temperature</temperature>
        <humidity>weather/humidity</humidity>
        <soil_moisture>soil_moisture</soil_moisture>
    </data_keys>
</config>
